            .xq:hover {
				color: #B0CEF0;
			}
			.genju a {
				line-height: 26px;
				text-decoration: none;
				color: #000000;
			}
			
			.genju a:hover {
				color: red;
			}
			
		
			
		
			.jieshao {
				padding-left: 150px;
			}
			
			.zhiliang {
				padding-left: 630px;
				padding-top: 60px;
				padding-bottom: 20px;
			}
			
			.biao {
				margin: 50px;
				padding-left: 150px;
			}
			.biao td {
				height:200px;
				width:400px
				vertical-align:top;
			}
			
			.en {
				font-size: 12px;
				color: #CCCCCC;
				text-decoration:underline;
			}
			
			.dimg {
				position:absolute;
				top:100px;
			}
			
			.simg {
				padding-left:150px;
				position:absolute;
				top:0px;
			}
			
			.t1,.t2, .t3 {
				width:100px;
				position:absolute;
				top:80px;
			}
			
			.t1 {
				left:400px;
			}
			
			.t2 {
	            left:750px
			}
			
			.t3 {
                left:1100px;
			}
			
			.dazi1,.dazi2,.dazi3 {
				color: #F3F3F3;
				position: absolute;
				top: 180px;
			}
			.dazi1 {
				left: 418px;
			}
			
			.dazi2 {
				left: 770px;
			}
			
			.dazi3 {
				left: 1120px;
			}
			
			.xz1,.xz2,.xz3 {
				color: #CCCCCC;
				font-size: 14px;
				position: absolute;
				top: 220px;
				text-align: center;
			}
			.xz1 {
			    left:330px;
			}
			
			.xz2 {
			    left:690px;
			}
			
			.xz3 {
				left:1050px;
			}
			
		
			.more1,.more2,.more3 {
				font-size: 14px;
				position: absolute;
				top: 280px;
				text-align: center;
			}
				
			.more1 {
			    left: 420px;
			}
			.more2 {
				left: 770px;
			}
			.more3 {
				left: 1120px;
			}
			
			.more1 a {
				color: #353864;
			}
			
			.more2 a {
				color: #353864;
			}
			.more3 a {
				color: #353864;
			}
			
			.body {
				background-color: #b0c4de;
			}
			
			.logo {
				margin: 0px 150px;
			}
			
			.banner {
				display: block;
				margin: 0px;
			}
			
			
			ul {
				width: 96.3%;
				list-style-type: none;
				margin: 10px 0px 0px 0px;
				padding-left: 150px;
				overflow: hidden;
				box-shadow: #e2e2e2 0px 0px 10px;
				background: #ffffff;
			}
			
			li {
				float: left;
				padding: 14px 16px;
			}
			
			li:last-child {
				border-right: none;
			}
			
			li a {
				display: block;
				color: #666;
				text-align: center;
				padding-right: 15px;
				text-decoration: none;
				border-right: 1px solid #e4e4e4;
			}
			
			li a:hover:not(.active) {
				background-color: #b0cef0;
			}
			.icon {
				padding-left: 290px;
				padding-right: 8px;
			}
			
			.icon2 {
				padding-left: 8px;
				padding-right: 8px;
			}
